@import "../../../assets/styles/vars";

#mainNav {
  padding: 20px 25px;

  .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    top: -2px;
  }
  .nav-logo {
    width: $navLogoSize;
    height: $navLogoSize;
    margin-right: 15px;
  }
  .nav-link {
    font-weight: bold;
    color: $navLinkColor;
    font-size: 20px;
    &:hover {
      color: lighten($navLinkColor, 25%);
    }
  }

  @media (max-width: 450px) {
    padding: 20px 10px;

    .navbar-brand {
      font-size: 1.5rem;
    }

    .nav-logo {
      width: $mobileLogoSize;
      height: $mobileLogoSize;
    }
  }
}
